h1 {
        text-align: center;
}
body {
	background-image: url(/backs/p6b.jpg);
	background-color: #FFFFFF;
	color: #500000;
	width: 80ch;
}
#pagebody {
	width: 50em;
	font-size: 16px;
}
#model {
	position: fixed;
	display: none;
	width: 54vmin;
	height: 62vmin;
	top: 5%;
	left: 45%;
	right: 0;
	bottom: 0;
	z-index: 2;
	cursor: pointer;
	background-color: lightgrey;
	overflow: hidden;
}
#canvas_title {
	width: 50vmin;
	padding-left: 0;
	padding-right: 0;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
	display: block;
}
#model_canvas {
	width: 50vmin;
	height: 50vmin;
	padding-left: 0;
	padding-right: 0;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
#incl_object {
	width: 60ch;
}
/* for Chrome, Opera, Safari, Edge */
.slider {
	-webkit-appearance: none;
	width: 50vmin;
	margin-left: 2vmin;
	margin-right: 2vmin;
	margin-top: 10px;
	appearance: none;
	background: #aaaaaa;
}
.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 20px;
	height: 25px;
	background: #111111;
	cursor: pointer;
}
/* Once again for Firefox */
.slider {
	-moz-appearance: none;
	width: 50vmin;
	margin-left: 2vmin;
	margin-right: 2vmin;
	margin-top: 10px;
	appearance: none;
	background: #aaaaaa;
}
.slider::-moz-range-thumb {
	-moz-appearance: none;
	appearance: none;
	width: 20px;
	height: 25px;
	background: #111111;
	cursor: pointer;
}
#angle_text {
	width: 50vmin;
	font-size: 20px;
	margin-top: 0vmin;
	margin-left: 2vmin;
	margin-right: 2vmin;
}
#model_button {
	font-size: 16px;
}
.buttons-rows {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.buttons-column {
  display: flex;
  flex-direction: column;
}
canvas.model {
	width: 50vmin;
	height: 50vmin;
	padding-left: 0;
	padding-right: 0;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
img {
	align: middle;
	border: 0px;
}
table {
	border-spacing: 0px
	/* padding: 2px 4px 2px 4px; */
}
td {
	vertical-align: top;
	border-bottom: 1px solid #660000;
	border-top: 1px none #660000;
	border-left: 1px none #660000;
	border-right: 1px solid #660000;
}
td.fc {
	border-bottom: 1px solid #660000;
	border-top: 1px none #660000;
	border-left: 1px solid #660000;
	border-right: 1px solid #660000;
}
td.r {
	border-bottom: 1px solid #660000;
	border-top: 1px none #660000;
	border-left: 1px solid #660000;
	border-right: 1px solid #660000;
	text-align: right;
}
td.descr {
	border-bottom: 1px solid #660000;
	border-top: 1px none #660000;
	border-left: 1px none #660000;
	border-right: 1px solid #660000;
	width: 20em;
}

tr.header {
	font-weight: bold
}
td.header {
	border-bottom: 1px solid #660000;
	border-top: 1px solid #660000;
	border-left: 1px none #660000;
	border-right: 1px solid #660000;
}
td.header_fc {
	border-bottom: 1px solid #660000;
	border-top: 1px solid #660000;
	border-left: 1px solid #660000;
	border-right: 1px solid #660000;
}
td.header_r {
	border-bottom: 1px solid #660000;
	border-top: 1px solid #660000;
	border-left: 1px solid #660000;
	border-right: 1px solid #660000;
	text-align: right;
}
td.header_last {
	border-bottom: 1px solid #660000;
	border-top: 1px solid #660000;
	border-left: 1px none #660000;
	border-right: 1px solid #660000;
}
td.header_descr {
	border-bottom: 1px solid #660000;
	border-top: 1px solid #660000;
	border-left: 1px none #660000;
	border-right: 1px solid #660000;
	width: 20em;
}

tr.mainRow {
}
td.mainRow {
	border-bottom: 1px none #660000;
	border-top: 1px none #660000;
	border-left: 1px none #660000;
	border-right: 1px solid #660000;
}
td.mainRow_fc {
	border-bottom: 1px none #660000;
	border-top: 1px none #660000;
	border-left: 1px solid #660000;
	border-right: 1px solid #660000;
}
td.mainRow_r {
	border-bottom: 1px none #660000;
	border-top: 1px none #660000;
	border-left: 1px solid #660000;
	border-right: 1px solid #660000;
	text-align: right;
}
td.mainRow_descr {
	border-bottom: 1px none #660000;
	border-top: 1px none #660000;
	border-left: 1px none #660000;
	border-right: 1px solid #660000;
	width: 20em;
}

tr.subRow {
}
td.subRow {
	border-bottom: 1px none #660000;
	border-top: 1px none #660000;
	border-left: 1px none #660000;
	border-right: 1px solid #660000;
}
td.subRow_fc {
	border-bottom: 1px none #660000;
	border-top: 1px none #660000;
	border-left: 1px solid #660000;
	border-right: 1px solid #660000;
}
td.subRow_r {
	border-bottom: 1px none #660000;
	border-top: 1px none #660000;
	border-left: 1px solid #660000;
	border-right: 1px solid #660000;
	text-align: right;
}
td.subRow_descr {
	border-bottom: 1px none #660000;
	border-top: 1px none #660000;
	border-left: 1px none #660000;
	border-right: 1px solid #660000;
	width: 20em;
}
td.lastSubRow {
	border-bottom: 1px solid #660000;
	border-top: 1px none #660000;
	border-left: 1px none #660000;
	border-right: 1px solid #660000;
}
td.lastSubRow_fc {
	border-bottom: 1px solid #660000;
	border-top: 1px none #660000;
	border-left: 1px solid #660000;
	border-right: 1px solid #660000;
}
td.lastSubRow_r {
	border-bottom: 1px solid #660000;
	border-top: 1px none #660000;
	border-left: 1px solid #660000;
	border-right: 1px solid #660000;
	text-align: right;
}
td.lastSubRow_descr {
	border-bottom: 1px solid #660000;
	border-top: 1px none #660000;
	border-left: 1px none #660000;
	border-right: 1px solid #660000;
	width: 20em;
}
a:link {
	color: #000CC0;
}
a:visited {
	color: #C00000;
}
